body{
    background-color: rgba(69, 73, 76, 0.981);
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

.box 
{
	position: relative;
	width: 100%;
	
	background:rgba(69, 73, 76, 0.981);
    background-size: 100%;
	border-radius: 8px;
	overflow:auto;
    padding-top: 90%;
    text-align: center;
}


form 
{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color:  rgba(160, 161, 162, 0.981);
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: rgba(160, 161, 162, 0.981);
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: rgba(160, 161, 162, 0.981);
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
a:link {
    color:  rgb(250, 250, 250);    
    text-decoration: none;
    text-align: left;
    
}
a:visited {
    color: white;   
    text-decoration: none;
}
a:hover {
    color: rgb(154, 86, 86);
    background-color: #8f8f8f;
    text-decoration: none;
}
a:active {
    color: rgb(205, 196, 196);    
}
.çizgi{
    height: 20%;
    background-color: rgba(69, 73, 76, 0.981) ;
    
}

a:link {
    color:  rgb(6, 6, 6);    
    text-decoration: none;
    width: 50%;
    
}
a:visited {
    color: rgb(20, 19, 19);   
    text-decoration: none;
}
a:hover {
    color: rgb(250, 249, 249);
    background-color: #8f8f8f;
    text-decoration: none;
}
a:active {
    color: black;    
}